.product-carousel {
    display: grid;
    grid-template-columns: 100px 1fr 100px;
    align-items: center;
    gap: 10px;
    padding: 10px 0;

    .product-carousel__slides {
        display: flex;
        align-items: center;
        justify-content: space-around;
        gap: 20px;

        div {
            min-height: 200px;
            img {
                min-height: 200px;
            }
        }
    }
}